<div class="jumbotron center">
   <h1>What is Phot-Booking</h1>
		<p>Photo-Booking is a tool that will allow you to find the photographer you are looking for!!</p>
		<p>Are you getting married? Want to get pictures of you doing sports? Are you traveling?</p>
		<p>Photo-Booking has been desighed to help you find the right photographer for the right price</p>
		<p>Book a professional photographer with the genuine tools, book an amateur photographer and save money</p>
</div>
